body {
    padding: 0;
    margin: 0;
    font-family: roboto, sans-serif;
}

.header {
    background-color: #1f2937;
    padding: 16px 148px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header a {
    font-family: roboto, sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #d5d7db;
    padding-left: 20px;
}
.header a:hover {
    color: #f9faf8;
}

.header .logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
    flex: 1 1 auto;
    padding-left: 0px;
}

.hero {
    background-color: #1f2937;
    display: flex;
    padding: 120px 148px;
    align-items: center;
    column-gap: 40px;
}

.hero-image {
    width: 520px;
    height: 240px;
    object-fit: cover;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    padding: 0;
    margin: 0;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
    padding: 0;
    margin: 0;
}

.hero button {
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    background-color: #3882f6;
    border: none;
    width: 134px;
    height: 38px;
    border-radius: 10px;
    margin-top: 16px;
}

.info {
    background-color: #ffffff;
    height: 500px;
    padding: 0 264px;

}

.info h2 {
    margin: 0;
    padding: 48px 0;
    text-align: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.infoboxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infobox {
    width: 160px;
}
.infobox p {
    text-align: center;
    color: #797979;
    font-size: 17px;
    margin-top: 2px;
}

.infobox img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 16px;
    border: 4px solid #3882f6;
}

.testimonial {
    background-color: #e5e7eb;
    padding: 120px 264px;
    margin: 0px;
}

.testimonial p {
    margin: 0;
    font-family: roboto, sans-serif;
    color: #1f2937;

}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote-author {
    font-size: 24px;
    font-weight: 900;
    text-align: right;
}

.cta {
    background-color: #3882f6;
    margin: 120px 148px;
    padding: 48px 124px;
    color: #ffffff;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.cta h3 {
    font-size: 24px;
    font-weight: 900;
    padding: 0px;
    margin: 0px;
}
.cta p {
    font-size: 18px;
    font-weight: 300;
    padding: 0px;
    margin: 0px;
}

.cta button {
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    background-color: #3882f6;
    border: 2px solid #ffffff;
    width: 134px;
    height: 38px;
    border-radius: 10px;
    margin-top: 16px;
}

.footer {
    background-color: #1f2937;
    padding: 40px;
    color: #d5d7db;
}

.footer p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-align: center;
}